.form-login {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 50px;
}

.btn-entrar {
    width: 100%;
}

.credentials {
    margin-top: 15px;
}

.login_container {
    max-width: 35%;
    margin: 0 auto;
}

@media (max-width: 970px) {
    .login_container {
        max-width: 40%;
    }
}

@media (max-width: 800px) {
    .login_container {
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .login_container {
        max-width: 90%;
    }
}

@media (max-width: 400px) {
    .login_container {
        max-width: 90%;
    }
}